<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Race Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Race Runners</h1>
    <h2>Race Name: <span th:text="${race.name}"></span></h2>
    <h3>Race Distance: <span th:text="${race.distance}"></span></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Time (minutes)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${race.results}">
            <td th:text="${result.runner.name}"></td>
            <td th:text="${result.timeMinutes}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
